.catalog-button {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: #F2BF27;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  
    &:hover {
    //   background-color: #0056b3;
      opacity: 1;
    }
  }
  