.services {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
    /* Define a altura para ocupar toda a tela */
    // overflow-y: auto;
    /* Torna o componente scrollable se necessário */
    background-color: #f7f7f7;
    padding-bottom: 15rem;

    @media screen and (max-width: 768px) {
        padding: 10px;
    }
}

.servicesTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #505050;

    @media screen and (max-width: 768px) {
        font-size: 20px;
    }
}

.servicesSubTitle {
    font-size: 1rem;
    width: 50%;
}


.servicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.serviceCard {
    width: 30%;
    padding: 20px;
    // border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;

    .img {
        border: 1px solid black;
        height: 200px;
        width: auto;
        background-image: url('../../assets/background/company-background.jpg');
        background-size: cover;
        /* Ajusta a imagem para cobrir todo o contêiner */
        background-position: center;
        /* Centraliza a imagem no contêiner */
    }

    // p {
    //     color: #222;
    // }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.serviceTitle {
    font-size: 18px;
    margin-bottom: 10px;

    @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}

.serviceDescription {
    font-weight: bold;
    margin-bottom: 10px;
}

.serviceInfo {
    font-size: 14px;
}