.aboutUsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .textContainer {
    flex: 1;
    margin-right: 20px; /* Adapte conforme necessário */
    padding-left: 2rem;

    h2 {
        text-align: start;
        color: #F2BF27;
    }

    p {
        width: 75%;
    }


  }
  
  .imageContainer {
    flex: 1;
    text-align: center;
  }
  
  .imageContainer img {
    max-width: 100%;
    height: auto;
  }
  