.contactForm {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #F2BF27;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    &:hover {
      background-color: #D39E00;
    }
  }
  